USE [proj]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 8/3/2025 5:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[CourseCode] [nvarchar](50) NOT NULL,
	[Credits] [int] NOT NULL,
	[Instructor] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/3/2025 5:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[DepartmentCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 8/3/2025 5:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Grade] [varchar](2) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 8/3/2025 5:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[user_Id] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/3/2025 5:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[ContactNo] [bigint] NULL,
	[Email] [varchar](200) NULL,
	[EnrollmentDate] [date] NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseCode], [Credits], [Instructor]) VALUES (1, N'Programming Fundamentals', N'CS101', 3, N'Dr. Ahmed Khan')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseCode], [Credits], [Instructor]) VALUES (2, N'Data Structures & Algorithms', N'CS301', 3, N'Prof. Sara Usman')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseCode], [Credits], [Instructor]) VALUES (3, N'Object-Oriented Programming', N'CS302', 3, N'Dr. Faraz Malik')
GO
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentCode]) VALUES (11, N'softwarer', N'sss')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentCode]) VALUES (12, N'Electrical Engineering', N'EE')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentCode]) VALUES (13, N'Civil Engineering', N'CE')
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeID], [StudentID], [CourseID], [Grade], [Status]) VALUES (1, 101, 1, N'A', 1)
INSERT [dbo].[Grades] ([GradeID], [StudentID], [CourseID], [Grade], [Status]) VALUES (2, 101, 2, N'B+', 1)
INSERT [dbo].[Grades] ([GradeID], [StudentID], [CourseID], [Grade], [Status]) VALUES (3, 102, 1, N'B', 1)
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
INSERT [dbo].[login] ([user_Id], [password]) VALUES (N'admin_001', N'12345')
INSERT [dbo].[login] ([user_Id], [password]) VALUES (N'stud_002', N'54321')
INSERT [dbo].[login] ([user_Id], [password]) VALUES (N'tchr_003', N'11223')
GO
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [DateOfBirth], [ContactNo], [Email], [EnrollmentDate], [DepartmentID]) VALUES (101, N'Ali', N'Khan', CAST(N'2003-08-15' AS Date), 3331234567, N'ali.khan2424@gmail.com', CAST(N'2023-09-01' AS Date), 11)
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [DateOfBirth], [ContactNo], [Email], [EnrollmentDate], [DepartmentID]) VALUES (102, N'Hamza', N'Ali', CAST(N'2004-02-05' AS Date), 3344765212, N'hamza44#66@gmail.com', CAST(N'2023-09-15' AS Date), 12)
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [DateOfBirth], [ContactNo], [Email], [EnrollmentDate], [DepartmentID]) VALUES (103, N'Fatima', N'Raza', CAST(N'2004-11-25' AS Date), 3456789012, N'fatima.raza@gmail.com', CAST(N'2023-09-05' AS Date), 13)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses___9526E277012CE63B]    Script Date: 8/3/2025 5:02:58 PM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[CourseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses___FC00E000310DFBB8]    Script Date: 8/3/2025 5:02:58 PM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__6EA8896D6A212E4F]    Script Date: 8/3/2025 5:02:58 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC342154772F]    Script Date: 8/3/2025 5:02:58 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StudentCourse]    Script Date: 8/3/2025 5:02:58 PM ******/
ALTER TABLE [dbo].[Grades] ADD  CONSTRAINT [UQ_StudentCourse] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__A9D10534CE4B9EBF]    Script Date: 8/3/2025 5:02:58 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Courses]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Departments]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([Credits]>(0)))
GO
